.container{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    min-height: 50vh;
    flex-direction: column;
    max-width: 50%;
    max-height: 60%;
    width: 100%;
    height: 100%;
    padding: 20px;
    background: #fff;
    border-radius: 0px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding-top: 5%;
    margin-left: 25%;
    
}

.typeset{
    width: 100%;
    height: 60%;

}
body {

    background-color: #e0eafc;
    background: -webkit-linear-gradient(to right, #cfdef3, #e0eafc);
    background: linear-gradient(to right, #cfdef3, #e0eafc)
}
